<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <div>HOME</div>
    <div><a href="/skills">SKILLS</a></div>
    <div>ABOUT</div>
    <div>LOG OUT</div>
  </nav>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
